<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Simulations count:</strong>
  <%= @task.simulations_count %>
</p>

<p>
  <strong>Eta:</strong>
  <%= @task.eta %>
</p>

<p>
  <strong>Report:</strong>
  <%= @task.report %>
</p>

<p>
  <strong>Config:</strong>
  <%= @task.config %>
</p>

<p>
  <strong>Config json:</strong>
  <%= @task.config_json %>
</p>

<p>
  <strong>Benchmark version:</strong>
  <%= @task.benchmark_version %>
</p>

<p>
  <strong>Report table:</strong>
  <%= @task.report_table %>
</p>

<p>
  <strong>Report distribution:</strong>
  <%= @task.report_distribution %>
</p>

<p>
  <strong>Report graph:</strong>
  <%= @task.report_graph %>
</p>

<p>
  <strong>Report w1:</strong>
  <%= @task.report_w1 %>
</p>

<p>
  <strong>Report dragons:</strong>
  <%= @task.report_dragons %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @task.progress %>
</p>

<p>
  <strong>Line count:</strong>
  <%= @task.line_count %>
</p>

<p>
  <strong>Bet per line:</strong>
  <%= @task.bet_per_line %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @task.currency %>
</p>

<p>
  <strong>Worker:</strong>
  <%= @task.worker_id %>
</p>

<p>
  <strong>Threads:</strong>
  <%= @task.threads %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
